# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Next.js build output
.next/
out/
.build/

# Local env files
.env*
!.env.example

# Docker
Dockerfile
docker-compose.yml
docker-compose.*.yml
.dockerignore

# VS Code
.vscode/

# Logs
logs/
*.log

# OS
.DS_Store
Thumbs.db

# Optional: lock files (only if you're not locking)
# package-lock.json
# yarn.lock
* copy*

