# Root-level .gitignore

# Environment files
.env
.env.*

# Virtual environments
env/
venv/
.venv/

# Docker
docker-compose.*.yml
Dockerfile
.dockerignore

# IDEs / Editors
.vscode/
.idea/

# OS Files
.DS_Store
Thumbs.db

# Logs
*.log
logs/

* copy*

