# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Virtual environments
env/
venv/
.venv/

# IDE/editor
.vscode/
.idea/

# Pytest
.pytest_cache/
.coverage
coverage.xml
htmlcov/

# Logs
*.log
logs/

# OS
.DS_Store
Thumbs.db

# Local env files
.env*
!.env.example

# Docker
Dockerfile
docker-compose.yml
docker-compose.*.yml
.dockerignore

* copy*

